@use '../../../abstract/variables' as *;

.container {
  @include centered(column, flex-start);
  width: 94vw;
  height: 70vh;
  background-color: $medBlue;
  border-radius: 10px;
  overflow-y: scroll;
}

.add-new-mesg {
  @include bodyText(18px);
  margin-top: 10px;
}

@media only screen and (min-width: 860px) {
  .container {
    width: 800px;
  }
}
