@use '../../../abstract/variables' as *;

.site-logo {
  @include logoText;
  font-size: 8vh;
  margin-top: 3vh;
}

.home-page{
  @include centered(column, center);
  height: 100vh;
  width: 100vw;
}

.tag-line {
  color: $lightBlue;
  margin-bottom: 20px;
  font-size: 20px;
}

@media only screen and (min-width: 860px) {
  .site-logo {
    font-size: 80px;
  }
}