@use '../../../abstract/variables' as *;

.delete-part-form-section {
  height: 100vh;
  width: 100vw;
  @include centered(column, space-between);

  button {
    width: 20vw;
  }
}

.delete-part {
  color: $darkOrange;
}

.delete-spacer {
  height: 10vh;
}

.delete-sus-details {
  @include centered(column, space-evenly);
  width: 90vw;
  height: 35vh;
}
.delete-section-buttons {
  @include centered(row, space-between);
  width: 50vw;
}
